@import '../../../styles.scss';

.root{
  width: 250px;
  &:hover{
    cursor: pointer;
  }
}

.title{
  @include overflow-elipsis;
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.image {
  display: block;
  border: 1px solid $element-color;
  border-radius: 8px;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  text-align: center;
}

