@import '../../../styles.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.list {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.summary{
  margin-bottom: $gutter-10;

}
